html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
  

  canvas {
    display: block;
  }
  
  button{
      background-color: rgb(144, 160, 143); 
    width: 400px;
    height: 30px;
    ;
  
   
    } 